.partenaire {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;

  .logoPartenaireContainer {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    // Pour ceux qui n'ont pas de logo
    color: var(--marron);
    font-size: 1.5rem;

    img {
      height: auto;
      width: 100%;
    }

    &LEGENDAIRE {
      width: 176px;
      height: 176px;

      img {
        width: 100%;
      }
    }

    &EPIQUE {
      width: 140px;
      height: 140px;
    }

    &RARE {
      width: 132px;
      height: 132px;
    }

    &COMMUN, &AUTRE {
      width: 128px;
      height: 128px;
    }
  }

  p {
    font-size: 1.25rem;
  }
}
