.partenaire {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;

  .logoPartenaireContainer {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    // Pour ceux qui n'ont pas de logo
    color: var(--marron);
    font-size: 1.5rem;

    img {
      height: auto;
    }

    &UNIQUE, &AUTRE {
      width: 176px;
      height: 176px;

      img {
        width: 160px;
      }
    }

    &RARE {
      width: 128px;
      height: 128px;
    }

    &COMMUN {
      width: 100px;
      height: 100px;

      img {
        width: 100px;
      }

    }
  }

  p {
    font-size: 1.25rem;
  }
}
