.lastYear {
  flex-direction: row !important;
  justify-content: center !important;
  gap: 5rem;

  .imageLastYear {
    @media (max-width: 980px) {
      display: none;
    }
  }

  .lastYearText {
    max-width: 600px;
    line-height: 36px;
    font-family: var(--font-teko), sans-serif;
    font-size: 32px;
  }
}
