.btn {
  padding: 0.25em 1em;
  font-family: var(--font-teko), sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: none;
  transition: 0.25s;
  text-align: center;

  &Primary {
    border: solid 2px white;
    background-color: var(--chapter-color);
    color: white;
  }

  &Secondary {
    border: solid 2px var(--chapter-color);
    background-color: var(--chapter-ligth-color);
    color: var(--chapter-color);
  }

  &:hover {
    transform: translateY(-2px);
  }
}