.galery {
  display: grid;
  grid-template-columns: repeat(var(--galery-columns, 4), 1fr);
  justify-items: center;
  gap: 4rem;
  max-width: 1200px;
  margin: 3rem auto;

  @media (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
