.theme {
    margin-top: 64px;
    display: flex;
    border-radius: 10px;
    background-color: #f29543;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 64px;

    img {

        transform-origin: center;
        height: 64px;
        width: 64px;
        position: absolute;
        transform: translateY(-54px);

    }
}