.mentionsLegales {
  align-items: flex-start;
  min-height: calc(100vh - 4rem);

  h1, h2 {
    margin: 2rem 0 0;
  }

  p {
    margin: 0
  }

  p > a, li > a {
    color: black;
  }

  a:last-of-type {
    margin-top: 2rem;
  }
}