.themeContainer {
    margin-top: 2rem;
    width: 100%;
    max-width: 1010px;
  
    @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 1rem;
    }
  }