:root {
  --sable: #F1DDB6;
  --vert: #192811;
  --vert-clair: #A69B02;
  --marron: #594848;
  --bleu-clair: #96CBD9;
  --orange-clair: #F2AA6B;
  --orange: #F29543;
  --marron-clair: #7d6969d1;
  --violet-fonce: #260742;
  --violet: #360362;
  --violet-clair: #551B7E;
  --rose: #EFBFB7;
  --dark: #000000;
  --rouge: #800016;

  --primary-color: var(--rouge);
  --secondary-color: #802A00;
  --tertiary-color: var(--rose);

}
