h1,
h2, .h1, .h2 {
  font-family: var(--font-teko), sans-serif;
  margin: 0;
}

h1, .h1 {
  font-size: 3rem;
  line-height: .8em;
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1;
// FIXME: VOIR SI TOUJOURS UTILE CAR C'EST PLUS DES H2
  a {
    text-decoration: underline;
    color: var(--vert);
  }
}