.main {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

#heroSection {
  height: 100%;
  margin: 0 auto;
  color: var(--vert);
  background-color: var(--sable);
}

#logo {
  margin-bottom: 1rem;
  user-select: none;
  -webkit-user-drag: none;
}

#mainTitle {
  margin-bottom: 0.75rem;
}

#eventspec {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 800px;
  margin: 2rem auto 0 auto;

  > * {
    width: 175px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 1rem;
  gap: 1rem;
  justify-content: center;
}

#rows {
  display: flex;
  gap: 2rem;
}

#mapContainer {
  height: 586px;
  max-width: 1200px;
  display: flex;
  align-items: flex-end;

  #cardMap {
    max-width: 40%;
    text-align: left;
    align-items: flex-start;
  }
}

.eventSpecText {
  font-size: 1.6rem;
  font-family: var(--font-teko), sans-serif;
  line-height: 1.6rem;
  margin: 1rem 0 0 0;
}

.themeContainer {
  margin-top: 2rem;
  width: 100%;
  max-width: 1010px;

  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .h1 {
    margin: 0 2rem;
    line-height: 3rem;
  }


  #logo {
    max-width: 90vw;
  }


  #infos {
    padding-bottom: 80px;
    flex-direction: column;

    p {
      max-width: 90%;
      margin: 40px auto;
    }
  }

  .row {
    flex-direction: column;
    gap: 1rem;
  }

  #mapContainer {
    height: fit-content;

    #cardMap {
      max-width: 100%;
      margin: 0;
    }
  }
}

#footer {
  padding: 2rem 0;
  color: var(--sable);
  background-color: var(--vert);
}
