.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 2rem;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  max-width: 700px;

  &Light {
    background-color: var(--sable);
    color: black;
  }

  &Dark {
    background-color: var(--primary-color);
    color: white;
  }

  &Secondary {
    background-color: var(--secondary-color);
    color: white;
  }

  @media (max-width: 640px) {
    margin-left: 0;
    margin-right: 0;
  }
}