.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  min-width: 150px;
  max-width: 700px;

  &Main {
    background-color: var(--main-color);
    color: var(--main-font-color);
  }

  &Complementary {
    background-color: var(--complementary-color);
    color: var(--complementary-font-color);
  }

  &Chapter {
    background-color: var(--chapter-color);
    color: var(--chapter-font-color);
  }

  &ChapterDark {
    background-color: var(--chapter-dark-color);
    color: var(--chapter-dark-font-color);
  }

  &ChapterLight {
    background-color: var(--chapter-ligth-color);
    color: var(--chapter-ligth-font-color);
  }


  &Fluid {
    width: 100%;
    max-width: none;
  }

  @media (max-width: 640px) {
    margin-left: 0;
    margin-right: 0;
  }
}