.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;
  background-color: var(--sable);

  .containerFluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;

    gap:1rem;
  }

  .headerBrand{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:2rem;

    color: var(--vert);
    font-family: var(--font-teko), sans-serif;
  }
}
