.section {
  padding: 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

  &Light {
    background-color: var(--ligth-color);
    color: black;
  }

  &Dark {
    background-color: var(--dark-color);
    color: white;
  }

  &Primary {
    background-color: var(--primary-color);
    color: black;
  }

  &Secondary {
    background-color: var(--secondary-color);
    color: white;
  }

  &Tertiary {
    background-color: var(--tertiary-color);
    color:  var(--secondary-color);
  }
}