.section {
  padding: 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

  &Main {
    background-color: var(--main-color);
    color: var(--main-font-color);
  }

  &Complementary {
    background-color: var(--complementary-color);
    color: var(--complementary-font-color);
  }

  &Chapter {
    background-color: var(--chapter-color);
    color: var(--chapter-font-color);
  }

  &ChapterDark {
    background-color: var(--chapter-dark-color);
    color: var(--chapter-dark-font-color);
  }

  &ChapterLight {
    background-color: var(--chapter-ligth-color);
    color: var(--chapter-ligth-font-color);
  }
}