.footer {
  padding: 2rem 0;
  color: var(--sable);
  font-weight: 700;
  background-color: var(--primary-color);
  text-align: center;

  a {
    color: var(--sable);
  }

  #hack {
    color: var(--primary-color);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}
