.avatar {
  border-radius: 50%;


}

.redavatar {
  border-radius: 50%;
  border: 5px solid #991414;
}

.blueavatar {
  border-radius: 50%;
  border: 5px solid #105987;
}
.yellowavatar{
  border-radius: 50%;
  border: 5px solid #ecb900;
}

.metier {
  margin: 0;
  text-align: center;

}

.name {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-family: var(--font-teko), sans-serif;
  margin: 0.5rem 0 0 0;
  text-align: center;

}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    color: white;
    font-size: 24px;
  }
}