$primary: #961919;
$secondary: #ff5a5a;
$third: #BC3908;
$brown: #C7AC92;
$silver: #C0BABC;
$dark: #220901;
$light-bg: rgba(255, 90, 90, 0.1);

$gold: #E8AD00;
$charcoal: #333333;
$light-gray: #CCCCCC;
$accent:  #4C4C7F;