.catch {
    h2 {
      font-size: 56px;
    }
    .catchCard {
      font-size: 24px;
      padding: 2rem 3rem;
    }

    #rows {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
      }
  }