.rs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.25s;

    &:hover {
        scale: 1.2;
        box-shadow: 2px 2px 8px black;
    }

    span {
        font-size: 28px;
        margin-left: -8px; // TODO: Choose better icon, this one is misaligned
    }
}