.partnerSection {
    h3 {
      margin: 1.5rem 0;
  
    }
  
    h2, h3 {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  
    .soloImage {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;
      column-gap: 4rem;
      flex-wrap: wrap;
      text-align: start;

  
      @media (max-width: 640px) {
        text-align: center;
      }
    }
  }